.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  display: inline-block;
  margin-right: 2px;
}

.search-bar img {
  display: inline-block;
}

@media (max-width: 767px) {
  .search-bar input[type="text"] {
    width: 100%;
  }
}
